.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('image/matthew.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.masthead-2 {
    height: 100vh;
    min-height: 500px;
}

.contact-profile{
    max-width: 60%;
    height:auto;
}

.project-list{
    list-style-type: none;
}

.thumb { 
    object-fit: cover;
    width:400px;
    height:400px ;
}
